<div class="parent">
    <div class="intro-container">
        <div class="intro">
            <img class="logo" src="../../assets/images/distros-dark-logo.png" alt="...">
            <h2 class="header-title">Find Infopreneurs. Get Emails. Grow Fast</h2>
            <span><span class="x">Find & Connect</span> with your dream clients in just seconds! Spending hours looking for new infopreneurs & their emails is finally a thing of the past. Now you can use our powerful database of influencers & their personal emails to sign clients <span class="x">10x faster!</span></span>
        </div>
        <!--
        <div class="header-sub-title-container">
            <span class="header-sub-title">Your <span class="green-banner-text">Shortcut</span> to Influencer Outreach</span>
        </div>
        -->
    </div>
    <div class="login-container">
        <form [formGroup]="form" action="#">
            <h1>Login</h1>
            <div class="input-box">
                <input formControlName="email" type="email" placeholder="Email">
                <i class='bx bx-envelope'></i>
            </div>
            <div class="input-error" *ngIf="form.controls['email'].dirty && form.controls['email'].errors?.['required']">
                Email is required
            </div>
            <div class="input-error" *ngIf="form.controls['email'].dirty && form.controls['email'].errors?.['email']">
                Please enter a valid email
            </div>
    
            <div class="input-box">
                <input formControlName="password" type="password" placeholder="Password">
                <i class='bx bx-lock-alt' ></i>
            </div>
            <div class="password-input-error" *ngIf="form.controls['password'].dirty && !form.controls['password'].value">
                Password is required
            </div>

            <div class="remember">
                <label for="#">
                    <input class="remember-me" type="checkbox"> Remember me
                </label>
                <a routerLink="/forgot-password">Forgot password?</a>
            </div>
            <button [disabled]="form.invalid" class="btn" (click)="onLogin()">
                <div>
                    <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-success spinner-color" role="status">
                        <span class="sr-only">Loading...</span>
                    </div> 
                    <div>
                        Login
                    </div>
                </div>
            </button>
            <div class="invalid-credentials-error" *ngIf="!isLoading && isUserNotFound">
                User not found
            </div>
            <div class="register">
                <p>Don't have an account? <br> <a routerLink="/register">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>