<div *ngIf="profileForm" class="parent">
    <form [formGroup]="profileForm">
        <div class="container">
                <div class="container-1">
                    <div class="avatar-container">
                        <div *ngIf="!uploadedImageUrl">
                            <svg xmlns="http://www.w3.org/2000/svg" width="125" height="125" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                              </svg>
                        </div>
                        <div *ngIf="uploadedImageUrl">
                            <img height="125px" width="125px" [src]="uploadedImageUrl" class="circular-image" />
                        </div>
                        <span class="update-photo" (click)="fileInput.click()">Update photo</span>
                        <input (change)="onFileSelected($event)" #fileInput type="file" id="myFiles" accept="image/*" style="display: none;">
                        <span class="profile-name">{{ user.name }}</span>
                    </div>
                </div>

                <div>
                    <div>
                        <h1>My Profile</h1>
                        <div class="input-box">
                            <input formControlName="name" type="name" placeholder="Update First Name">
                            <input formControlName="email" type="email" placeholder="Update Email">
                            <input formControlName="password" type="password" placeholder="Update Password">
                            <input formControlName="confirmPassword" type="password" placeholder="Confirm New Password">
                        </div>
                    </div>
                    <div class="buttons-container">
                        <button class="btn cancel-btn" (click)="onCancel()">
                            Cancel Changes
                        </button>
                        <button class="btn" (click)="onUpdate()">
                            <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-success spinner-color" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Update Profile
                        </button>
                    </div>
                </div>
            </div>
    </form>
</div>

