/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.parent {
    overflow-y: auto;
    background-color: black !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #12e19f !important;
    border-color: #12e19f !important;
}

.col {
    padding-right: 0;
}

.col-auto {
    padding-left: 0;
}

.dark-banner-text {
    color: black;
}

.banner-container {
    width: 99.5%;
    margin-left: 0.6rem;
}

.table-title {
    font-weight: 600;
}

.dashboard-body {
    width: 100% !important;
    margin-top: 50px !important;
}

.matches-container {
    display: flex !important;
    justify-content: end !important;
    margin: 15px 0 -35px 0!important;
}

.recent-searches {
    font-size: 12px !important;
    height: 10em;
    margin: 0 5px 100px !important;
}

.featured-section {
    font-size: 12px !important;
    height: 10em !important;
}

.dashboard-body {
    display: flex;
    flex-direction: row
}

.dashboard-body-title {
    font-size: 17px;
    color: black;
    font-weight: 500;
}

.card-title {
    font-size: 12px !important;
}

.card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 25px !important;
}

.card-body {
    background-color: black !important;
    box-shadow: 0 0 15px #12e19f !important;
    border-radius: 12px !important;
}

header {
    background-color: black !important;
}

.card-title {
    color: #12e19f !important
}

.card-sub-title {
    color: #12e19f !important
}

.card-body-1::before {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Black overlay with 50% opacity */
    z-index: 1 !important; /* Ensure it appears behind the text */
}

.card-body-1 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-radius: 10px;
    margin-right: 30px;
    height: 14em;
    width: 20em;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.card-body-1 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.card-body-2 {
    font-size: 14px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-right: 30px;
    height: 14em;
    width: 20em;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1738015672/woman-8444805_1280_cgwqqh.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.card-body-2 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.card-body-3 {
    font-size: 14px;
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 14em;
    width: 20em;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1738015675/podcast-8683196_1280_w4et3u.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.card-body-3 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.card-body-1:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
    box-shadow: 0 0 15px #12e19f !important;
  }

.card-body-2:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
    box-shadow: 0 0 15px #12e19f !important;
  }

.card-body-3:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
    box-shadow: 0 0 15px #12e19f !important;
  }

.row-body {
    height: 10em;
    width: 15em;
    background-color: white;
    color: white;
    border-radius: 5px;
}

.featured-title {
    margin-bottom: -10px !important;
    color: white !important
}

main {
    background-color: black !important;
}

.main-background {
    background-color: black !important;
    padding-bottom: 20px !important;
}

h1 {
    color: #12e19f !important;
}

span.h3 {
    color: white !important;
}

.energy {
    margin-left: -4px !important;
}

.results-button {
  background-color: black !important;
  color: #12e19f !important;
  margin-left: 0 !important;
  border: 1px solid #12e19f !important;
  min-width: 250px !important;
  transition: 1s !important;
  width: 250px !important;
  max-width: 250px !important;
  
  &:hover {
    border: 1px solid #12e19f !important;
    box-shadow: 0 0 15px #12e19f !important;
    color: white !important;
    transform: scale(1.1) !important;
    min-width: 250px !important;
    width: 250px !important;
    max-width: 250px !important;
  }
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: black;
  padding: 15px 0 30px 0;
}

.carousel-track {
  display: flex;
  width: 77vw;
  animation: scroll 20s linear infinite;
}

.carousel-slide {
  flex: 0 0 auto;
  width: calc(100% / 6); /* 8 visible at once */
  height: 300px !important;
  box-sizing: border-box;
  margin-right: 16px;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Ensure no horizontal scroll leaks */
body {
  overflow-x: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Optional responsiveness */
@media (max-width: 1024px) {
  .carousel-slide {
    width: calc(100% / 4);
  }
}

@media (max-width: 768px) {
  .carousel-slide {
    width: calc(100% / 2);
  }
}

.footer {
    height: 20% !important;
    background-color: black !important;
}

h4 {
    padding-top: 5px !important;
    color: white !important;
}

h5 {
    margin-top: -15px !important;
    color: gray !important;
}

.slider-body-1 {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 90% !important;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000 !important;
}

.footer {
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
  padding: 10px;
  height: 20%;
}

.slider-body-2 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://www.instagram.com/reel/DKH7ec4pSCb/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=='); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-2 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-3 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-3 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-4 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-4 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-5 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-5 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-6 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-6 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-7 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-7 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-8 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-8 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-9 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-9 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-10 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-10 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-11 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-11 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.slider-body-12 {
    font-size: 14px;
    background-color: white;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 30px;
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://res.cloudinary.com/dza3ed8yw/image/upload/v1746317511/ai-generated-8635362_1280_m6iuvr.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-body-12 h3 {
    color: white; /* Makes the text white */
    font-weight: 500;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns content to the left */
}

.explore-distros {
    margin-bottom: -5px !important;
}

.explore {
    margin-bottom: 0.1px !important;
}



