<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary parent">
    <!-- Main content -->
    <div class="h-screen flex-grow-1 main-background">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">Dashboard</h1>
                        </div>
                        <!-- Actions -->
                        <!--
                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                    <span>Edit</span>
                                </a>
                                <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Create</span>
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                    <!-- Nav -->
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <!--
                        <li class="nav-item ">
                            <a href="#" class="nav-link active">All files</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-regular">Shared</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-regular">File requests</a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <!-- Card stats -->
                <div class="row g-6 mb-6">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <a></a>
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2 card-title">Total Revenue This Month</span>
                                        <span class="h3 font-bold mb-0">{{ thisMonthRevenue ? thisMonthRevenue : '$0'  }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                            <i class="bi bi-credit-card"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span [ngClass]="totalRevenueChange >= 0 ? 'bg-soft-success text-success' : 'bg-soft-danger text-danger'" class="badge badge-pill me-2">
                                        <i class="bi me-1" [ngClass]="totalRevenueChange >= 0 ? 'bi-arrow-up' : 'bi-arrow-down'"></i> {{ totalRevenueChange }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted card-sub-title">Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <a></a>
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2 card-title">Monthly Recurring Revenue</span>
                                        <span class="h3 font-bold mb-0">{{ recurringRevenue ? recurringRevenue : '$0' }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-success text-white text-lg rounded-circle">
                                            <i class="bi bi-arrow-repeat"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span [ngClass]="recurringRevenueChange >= 0 ? 'bg-soft-success text-success' : 'bg-soft-danger text-danger'" class="badge badge-pill me-2">
                                        <i class="bi me-1" [ngClass]="recurringRevenueChange >= 0 ? 'bi-arrow-up' : 'bi-arrow-down'"></i> {{ recurringRevenueChange }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted card-sub-title">Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2 card-title">New Clients This Month</span>
                                        <span class="h3 font-bold mb-0">{{ newClients }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                            <i class="bi bi-person-plus"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span [ngClass]="newClientsChange >= 0 ? 'bg-soft-success text-success' : 'bg-soft-danger text-danger'" class="badge badge-pill me-2">
                                        <i class="bi me-1" [ngClass]="newClientsChange >= 0 ? 'bi-arrow-up' : 'bi-arrow-down'"></i> {{ newClientsChange }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted card-sub-title">Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2 card-title">Monthly Recurring Clients</span>
                                        <span class="h3 font-bold mb-0">{{ totalClients }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                                            <i class="bi bi-people"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span [ngClass]="totalClientsChange >= 0 ? 'bg-soft-success text-success' : 'bg-soft-danger text-danger'" class="badge badge-pill me-2">
                                        <i class="bi me-1" [ngClass]="totalClientsChange >= 0 ? 'bi-arrow-up' : 'bi-arrow-down'"></i> {{ totalClientsChange }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted card-sub-title">Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  <div class="explore-distros">
    <h2 class="featured-title explore">Explore Distros</h2>
    <small>Check out some of our new influencers</small>
  </div>
  <div class="carousel">
  <div class="carousel-track">
    <div class="carousel-slide">
        <div class="slider-body-1">
          <video #videoRef1 autoplay muted loop playsinline [preload]="true" class="video-bg" src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748351819/ssstik.io__kelseywonderlin_1748351629404_iaq5qt.mp4" type="video/mp4">
            Your browser cannot display this video.
          </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Kelsey Wonderlin</h4>
                <h5>Dating Coach &bull; 162K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
            <video #videoRef2 autoplay muted loop playsinline [preload]="true" class="video-bg" src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748360669/ssstik.io__jeremy_miner_1748360633610_sxgfkx.mp4" type="video/mp4">
                Your browser cannot display this video.
          </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Jeremy Miner</h4>
                <h5>Sales Coach &bull; 963K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef3 autoplay muted loop playsinline [preload]="true" class="video-bg" src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748361748/ssstik.io__colinboydstage_1748361737144_ljicwy.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Colin Boyd</h4>
                <h5>Sales Coach &bull; 48.1K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef7 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748363124/ssstik.io__agibson_fitness_1748363117171_ofwjfs.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Alex Gibson</h4>
                <h5>Fitness Coach &bull; 173K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef5 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748362207/ssstik.io__claudiennehibbert_1748362201321_dymwbz.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Claudienne Hibbert</h4>
                <h5>Real Estate Coach &bull; 222K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef6 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748362925/ssstik.io__drjessicagunningdpt_1748362880632_xtzxkt.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Dr. Jessica Gunning</h4>
                <h5>Health & Wellness Coach &bull; 13.1K</h5>
            </div>
        </div>
    </div>
     <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef10 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748363744/ssstik.io__caitlyn_block_1748363734833_prv3mt.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Caitlyn Block</h4>
                <h5>Fitness Coach &bull; 119K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef8 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748363270/ssstik.io__alignwithalison_1748363264364_pjznib.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Alison Wellington</h4>
                <h5>Dating Coach &bull; 105K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef9 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748363544/ssstik.io__franksanchez.re_1748363536361_uy5ury.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Frank Sanchez</h4>
                <h5>Real Estate Coach &bull; 16.2K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef4 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748361958/ssstik.io__anasallesfitness_1748361939236_hbn9yh.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Ana Salles</h4>
                <h5>Fitness Coach &bull; 62.7K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef11 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748364120/ssstik.io__coachkaseyjo_1748364092640_fbxyae.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Kasey Jo Orvidas</h4>
                <h5>Health & Wellness Coach &bull; 47.2K</h5>
            </div>
        </div>
    </div>
    <div class="carousel-slide">
        <div class="slider-body-1">
           <video #videoRef12 autoplay muted loop playsinline class="video-bg" preload src="https://res.cloudinary.com/dza3ed8yw/video/upload/v1748364250/ssstik.io__brandon.groux_1748364228342_ad4rgl.mp4" type="video/mp4">
                Your browser cannot display this video.
            </video>
        </div>
        <div class="footer">
            <div class="footer-text">
                <h4>Brandon Groux</h4>
                <h5>Dating Coach &bull; 10.7K</h5>
            </div>
        </div>
    </div>
</div>
                </div>
               
                <div class="matches-container">
                <div>
                    <button (click)="onOpen()" class="btn btn-secondary results-button" type="button" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-people show-icon"></i> See your matches <i class="bi bi-arrow-right show-icon"></i>
                    </button>
                </div>
                </div>
                <div class="dashboard-body">
                    <!--
                    <div *ngIf="user.recentSearches?.length" class="row g-6 mb-6 recent-searches">
                        <span class="dashboard-body-title">Recent Searches</span>
                    </div>
                    -->

                    <div class="row g-6 mb-6 featured-section">
                        <h2 class="featured-title">New Categories Coming Soon<span class="energy">‼️</span></h2>
                        <div class="card-row">
                            <div class="col card-body-1">
                                <h3>Finance Coaches</h3>
                            </div>
                            <div class="col card-body-2">
                                <h3>Dropshipping Coaches</h3>
                                <ul>
                                  </ul>
                            </div>
                            <div class="col card-body-3">
                                <h3>Ecomm Coaches</h3>
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>
        </main>
        </div>
    </div>